.pop-up__button {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  width: 238px;
  height: 46px;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 768px) {
  .pop-up__button {
    width: 358px;
  }
}