.cards__like-btn {
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  background-image: url('../../../img/like.svg');
  background-color: transparent;
}

.cards__like-btn:hover {
  opacity: .5;
}

.cards__like-btn:active {
  background-image: url('../../../img/active-heart.svg');
}