.header__block {
  width: 83.125%;
  margin: 0 auto;
  padding: 28px 0 0 0;
  height: 56px;
}

@media screen and (min-width: 1280px) {
  .header__block {
    height: 74px;
    width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
}