.profile__edit-btn {
  display: inline-flex;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  position: relative;
  margin: 34px 0 0 10px;
  background-color: black;
}

@media screen and (min-width: 1280px) {
  .profile__edit-btn {
    width: 24px;
    height: 24px;
    background-color: black;
    margin: 15px 0 0 18px;
  }
}